@import "../../vars.css";

.sectionAbout{
    padding-top: 60px;
    padding-bottom: 30px;
}

.container{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px;
}
.about{
    display: flex;
}
.content{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    align-content: center;
    justify-content: center;
    padding: 30px;
}
.content h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
    font-family: var(--font-roboto);
    margin-bottom: 40px;
    letter-spacing: 1.75px;
}
.content h1{
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--font-roboto);
    margin-bottom: 20px;
}
.content p{
    font-size: 1.25rem;
    font-family: var(--font-roboto);
    color: var(--color-secondary);
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutImg{
    transition: all 1s ease-in-out;
}
@media screen and (max-width:1400px){
    .aboutImg{
        display: none;
    }
}
@media screen and (max-width:830px){
    .content h3{
        width: 100%;
        text-align: center;
    }
    .content h1{
        text-align: center;
    }
    .content p{
        text-align: center;
    }
}