@import "../../vars.css";

.Navbar{
    position: fixed;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--color-light);
}
.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--color-text);
}
.title{
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 900;
}
.menu{
    display: flex;
}
.menuItems{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}
.menuItems a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.25rem;
    font-weight: 600;
}
.menuItems a:hover{
    color: var(--color-primary);
}
.menuBtn{
    display: none;
    width: 40px;
    height: 40px;
}
@media screen and (max-width: 830px){
    .Navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10px;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
        z-index: 3;
    }
    .menuBtn{
        display: block;
        cursor: pointer;
    }
    .menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        background-color: var(--color-light);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 24px 33px;
    }
    .menuOpen{
        display: flex;
        z-index: 1;
    }
}
