:root{
    /* colors */
    --color-text: #2d2e32;
    --color-primary: #5271FF;
    --color-primary-hover: #394eaa;
    --color-secondary: #737373;
    --color-tertiary: #f5f4f4d4;
    --color-dark: #2d2e32;
    --color-light:#fff;
    /* fonts */
    --font-roboto: "Roboto"; 
}